<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" class="no-padding">
      <img src="assets/imgs/amandeep-hospital-team.jpg" />
    </ion-col>
    <ion-col size="12" class="padding">
      <h3><span class="red-color">Why&nbsp;</span><span class="blue-color">Amandeep Hospital</span></h3>
      <p class="blue-color padding">Amandeep Group of Hospitals is one of the leading healthcare service provider groups of the country. Amandeep
        Group has come a long way and its journey dates back to 1990 when it came into existence. It has expanded since
        then and has reached masses to provide the most effective treatments.
        <br><br>The doctors and the staff at Amandeep Group of Hospitals are being led by the aim to save each precious
        life. It keeps on updating the medical technology and stands out as a citadel of excellence with modern
        treatments and veteran doctors.
        <br><br>Dr. Amandeep Kaur and Dr. Avtar Singh established Amandeep Hospital and at that time it was a 5-bedded
        speciality centre for Orthopaedics and Trauma management. Rendering relentless efforts in providing the best
        clinical care to the patients, Amandeep Hospital evolved into a 500-bedded multispeciality centre for
        healthcare.
        <br><br>And it does not end here for the group has widened the scope of its healthcare provisions. This group has
        many branches and associations which are helping it to serve the society with its medical assistance. The
        branches are:
      </p>
      <ul>
        <li class="blue-color">Amandeep Medicity</li>
        <li class="blue-color">Amandeep Hospital (Pathankot)</li>
        <li class="blue-color">Amandeep Hospital (Ajnala)</li>
        <li class="blue-color">OPD clinics in Jammu and Srinagar</li>
        <li class="blue-color">Amritsar Super Scan facility with 3 TESLA MRI machines which offers matchless services to the patients.</li>
      </ul>
      <p class="blue-color padding">Some associations have acted as the harbinger of better healthcare facilities to the people. These associations
        are:</p>
      <ul>
        <li class="blue-color">OPD clinics in Ferozepur</li>
        <li class="blue-color">OPD in Jalandhar</li>
        <li class="blue-color">Amandeep Kamal Hospital at Tarn Taran</li>
        <li class="blue-color">Amandeep - Eden Centre of Excellence for Orthopaedics, Trauma Care & Joint Replacement</li>
        <li class="blue-color">OPD clinic in Batala</li>
      </ul>
      <p class="blue-color padding">We have Laser treatment for Varicose veins, Hyperbaric Chamber for Oxygen therapy, Navigation technology for
        Joint Replacement besides other world-class treatments at the hospital facility. It has come up as a group of
        hospitals which aims to treat all irrespective of any factors and gift healthy life to its patients.</p>
     
        <h4 class="blue-color padding">Our Mission</h4>
        <p class="blue-color padding" style="margin-top: -15px;">To improve the health and well-being of those we serve.</p>
        <h4 class="blue-color padding">Our Vision</h4>
        <p class="blue-color padding" style="margin-top: -15px;">To add healthy years to the lves of our patients in an accessible & affordable environment.</p>
    </ion-col>
  </ion-row>
</ion-content>