<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" class="padding" style="text-align: center;">
      <h3><span class="red-color">Amandeep&nbsp;</span><span class="blue-color">Group Of Hospital</span></h3>
    </ion-col>
  </ion-row>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Amandeep Hospital, Amritsar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <ion-icon name="location-outline" slot="start"></ion-icon>&nbsp;Model Town, G.T. Road, Amritsar
      </p>
      <p>
        <ion-icon name="call-outline" slot="start"></ion-icon>&nbsp;0183-5051515
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Amandeep Medicity</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <ion-icon name="location-outline" slot="start"></ion-icon>&nbsp;Near Novelty Chowk, Mall Road, Amritsar
      </p>
      <p>
        <ion-icon name="call-outline" slot="start"></ion-icon>&nbsp;0183-5051616
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Amandeep Hospital, Pathankot</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <ion-icon name="location-outline" slot="start"></ion-icon>&nbsp;Dalhousie Road, Mamoon, Pathankot
      </p>
      <p>
        <ion-icon name="call-outline" slot="start"></ion-icon>&nbsp;97810-50999, 0186-2349082, 83-84
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Amandeep Kamal Hospital</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <ion-icon name="location-outline" slot="start"></ion-icon>&nbsp;Shri Chander Colony, Amritsar Road,
        Tarn Taran
      </p>
      <p>
        <ion-icon name="call-outline" slot="start"></ion-icon>&nbsp;62 806-48821, 01852-224943
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Amandeep Multi-Speciality Clinic Ferozepur</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <ion-icon name="location-outline" slot="start"></ion-icon>&nbsp;Red Cross Complex, Near Govt. School Boys,
        Back Side Shaheed Bhagat Singh Stadium
      </p>
      <p>
        <ion-icon name="call-outline" slot="start"></ion-icon>&nbsp; 9501076146, 0183-249249
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Amandeep Multi-Speciality OPD
        Clinic Jammu</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <ion-icon name="location-outline" slot="start"></ion-icon>&nbsp;Marble Market Extn. Greater Kailash Chowk,
        NH-1A (Jammu)
      </p>
      <p>
        <ion-icon name="call-outline" slot="start"></ion-icon>&nbsp;96229-65050
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Amandeep OPD Clinic Srinagar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <ion-icon name="location-outline" slot="start"></ion-icon>&nbsp;Kidney Hospital, Sonawar Bagh, Srinagar
      </p>
      <p>
        <ion-icon name="call-outline" slot="start"></ion-icon>&nbsp;91154-05302, 0194-2500919
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>