ion-icon{
    color: #3C3737;
    
}
.title{
    color: #272727;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 14px;
}
.doctor-name{
    color: #272727;
    font-size: 15px;
    font-family: sans-serif;
}
p{
    font-family: sans-serif;
    white-space: normal;
    font-size: 12px;
}
.book-btn{
    margin: 0;
    // margin-top: -20px;
    width: 60px;
    img{
        float: right;
    }
}
.lower-bottom{
    border-bottom: 1px solid #ADADAD;
    ion-avatar{
        margin-left: -10px;
    }
}