.user{
    margin: 0;
    white-space: nowrap;
    font-family: sans-serif;
}
.user-img{
    border-radius: 50%;
    width: 110px;
    height: 60px;
}
.header{
    padding-top: 10px;
    padding-bottom: 10px;
}
.lower-line{
    border-bottom: 1px solid #ADADAD;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
  }
  ion-icon{
    color: #363A61;
    font-size: 1em;
    margin-right: 10px;
    margin-left: -15px;
  }
