<ion-app>
  <ion-menu side="start" menuId="first" contentId="main" swipe-gesture="false">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-row class="header">
          <ion-col size="3">
             <img class="user-img" src="{{utility.image}}" *ngIf="utility.image"/>
          </ion-col>
          <ion-col size="6">
            <ion-label class="user" style="text-transform: capitalize;">{{utility.user?.user_name}}</ion-label>
            <p class="user" style="font-size: 12px;margin-top: 3px;" *ngIf="utility.user?.phone_number != ''">+91 {{utility.user?.phone_number}}</p>
            <p class="user" style="font-size: 12px;margin-top: 3px;">{{utility.user?.email}}</p>
         </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle auto-hide="false" *ngFor="let p of menu; let i = index">
        <ion-item
          (click)="chooseOption(p.title)"
          routerDirection="root"
          [routerLink]="[p.url]"
         
          detail="false"
         class="lower-line"
        >
          <ion-icon slot="start" [ios]="p.icon" [name]="p.icon" mode="ios"></ion-icon>
          <ion-label style="font-size: 15px;">{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
